melgar_workflow.json
{"updatedAt":"2025-12-29T15:48:41.532Z","createdAt":"2025-12-21T08:37:42.436Z","id":"G9rmyV29GjELJuiI","name":"ChatBot Melgar - Sistema Completo (Evolution API)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"melgar-bot","options":{}},"id":"bb7895e7-31da-44bf-91ec-66fd295608b3","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[608,192],"webhookId":"melgar-bot-webhook"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $json.conversation_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1712,368],"id":"4046606c-8b85-4f6b-aab9-4efeda24aa34","name":"Obtener Estado Conversación","executeOnce":false,"alwaysOutputData":true,"disabled":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option3":"1"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-976,432],"id":"83cff17f-10d1-461e-b7db-9d373da5860a","name":"Marcar como Chat Libre","disabled":true},{"parameters":{"jsCode":"// Validar entrada y gestionar fallback\nconst content = $input.item.json.content || $('Edit Fields').item.json.content;\nconst failAttempts = $input.item.json.failAttempts || 0;\n\n// Validar si es un solo dígito (0-9)\nconst isValidInput = /^[0-5]$/.test(content);\n\nif (!isValidInput) {\n  // Incrementar contador de intentos fallidos\n  const newFailAttempts = failAttempts + 1;\n  \n  return {\n    json: {\n      conversation_id: $('Edit Fields').item.json.conversation_id,\n      isValid: false,\n      failAttempts: newFailAttempts,\n      errorMessage: `⚠️ Opción no válida. Por favor, digita solo el número de la opción deseada (0-9).\\n\\n${newFailAttempts >= 2 ? '🤖 Te conectaré con el chat libre para ayudarte mejor.' : `Intentos: ${newFailAttempts}/2`}`\n    }\n  };\n} else {\n  // Entrada válida, resetear contador\n  return {\n    json: {\n      conversation_id: $('Edit Fields').item.json.conversation_id,\n      isValid: true,\n      failAttempts: 0\n    }\n  };\n}"},"id":"94d56d1b-aeee-4d65-a69d-627dee2b6fde","name":"Validar Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,368],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"841538aa-db22-4e58-878b-846985349e39","leftValue":"={{ $json.conversation_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1568,368],"id":"984c7b06-8fae-4ce0-a34a-0e5d4c1edc33","name":"NUEVA CONVERSACIÓN?","disabled":true},{"parameters":{"dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"columns":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","failAttempts":0,"option1":"0","option2":"0","option3":"0"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1136,224],"id":"c55ce857-0675-402d-aae4-7ee7564ecfce","name":"Crear conversación","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6cb410fb-0370-4a93-9c4d-f3f9a6a18a77","name":"content","value":"={{ $json.body.conversation.messages[0].content }}","type":"string"},{"id":"a9855df5-6c7b-4c2b-9c29-4813827c80c8","name":"phone_number","value":"={{ $json.body.conversation.meta.sender.phone_number }}","type":"string"},{"id":"8bb2122c-ae98-4d78-aa90-b7f94779ba25","name":"status","value":"={{ $json.body.conversation.status }}","type":"string"},{"id":"69193c26-0b16-448f-ba53-52f087fb85cb","name":"message_type","value":"={{ $json.body.message_type }}","type":"string"},{"id":"dac408e6-aea8-4dcf-93e7-22729f30e6ed","name":"inbox_id","value":"={{ $json.body.conversation.contact_inbox.inbox_id }}","type":"number"},{"id":"28273b3a-0ba8-42b1-aa52-ce483cefa598","name":"contact_id","value":"={{ $json.body.conversation.contact_inbox.contact_id }}","type":"number"},{"id":"bed3eed7-0efe-4898-80ec-f26b175e16ec","name":"conversation_id","value":"={{ $json.body.conversation.id }}","type":"number"},{"id":"b616e7ea-b30b-4898-b7b1-2f87931a12fd","name":"account_id","value":"={{ $json.body.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2016,432],"id":"a226754b-00c5-4063-bc1c-62db68c0c2c3","name":"Edit Fields","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb6ffc5e-0c87-4f57-9525-b15b516749d8","leftValue":"={{ $json.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,432],"id":"ebd7bf5a-2bce-4409-9c15-4204dda26874","name":"Verificar Mensaje Entrante","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e25d4683-9fa3-4425-988c-5131d8a43fd5","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1136,368],"id":"c6045d8a-0c27-48f4-924e-cfc0b268fabb","name":"Valid Entrance","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3523b622-043a-41bc-a724-f5fd6a7a3747","leftValue":"={{ $('Obtener Estado Conversación').item.json.option1 }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-832,192],"id":"9ac20ea2-625a-4556-8ddb-f905aa1dc822","name":"OPTION 1","disabled":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"option1":"={{ $('Edit Fields').item.json.content }}","failAttempts":0},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-544,192],"id":"1de96a5b-c65a-4801-9f73-ce67f2e02efe","name":"Guardar Opcion 1","disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appQ4rvB7uBz61pCX","mode":"list","cachedResultName":"Menú Alcaldía Melgar","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX"},"table":{"__rl":true,"value":"tbl0ofMRpqiWfxksz","mode":"list","cachedResultName":"Copia de Menú Principal","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX/tbl0ofMRpqiWfxksz"},"filterByFormula":"=AND({parent1}='0',{id}='{{ $('Edit Fields').item.json.content }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-400,192],"id":"16ce333c-a57d-40d8-b8c5-9fb61520051d","name":"Search records","credentials":{"airtableTokenApi":{"id":"MLj8YcYLKZHNrICh","name":"Airtable Personal Access Token account 2"}},"disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appQ4rvB7uBz61pCX","mode":"list","cachedResultName":"Menú Alcaldía Melgar","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX"},"table":{"__rl":true,"value":"tbl0ofMRpqiWfxksz","mode":"list","cachedResultName":"Copia de Menú Principal","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX/tbl0ofMRpqiWfxksz"},"filterByFormula":"=AND({parent1}='{{ $('Obtener Estado Conversación').item.json.option1 }}',{id}='{{ $('Edit Fields').item.json.content }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-400,-64],"id":"c60248ca-4689-4c5b-8d28-780b0b30be20","name":"Search records1","credentials":{"airtableTokenApi":{"id":"MLj8YcYLKZHNrICh","name":"Airtable Personal Access Token account 2"}},"disabled":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option1":"100"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-544,-64],"id":"f8bb9577-74ec-4ca8-803d-ec6842a69ea2","name":"REINICIAR","disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appQ4rvB7uBz61pCX","mode":"list","cachedResultName":"Menú Alcaldía Melgar","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX"},"table":{"__rl":true,"value":"tbl0ofMRpqiWfxksz","mode":"list","cachedResultName":"Copia de Menú Principal","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX/tbl0ofMRpqiWfxksz"},"filterByFormula":"=AND({parent1}='0',{id}='100')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-544,320],"id":"bb341717-b172-417c-a56e-b36b3ba8f10e","name":"Search records2","credentials":{"airtableTokenApi":{"id":"MLj8YcYLKZHNrICh","name":"Airtable Personal Access Token account 2"}},"disabled":true},{"parameters":{"jsCode":"// ========================================\n// GENERADOR DE SALUDOS CON VIDEO\n// ========================================\n\n// URL directa del video (pega aquí la URL de Catbox)\nconst videoUrl = 'https://files.catbox.moe/fl3c3h.mp4'; // ← CAMBIA ESTO\n\n\n// Textos de saludo\nconst caption = 'Hola, melgarenses 👋\\nTu voz en línea con \"Pacho\" 👇\\n\\n*Para poder ayudarte mejor, digita la opción que corresponda a tu consulta:*\\n\\n1️⃣ Noticias y actividades 📰\\n2️⃣ Atención y servicios al ciudadano 🤝\\n3️⃣ Transparencia y acceso a la información 📊\\n4️⃣ Participación ciudadana 🗳\\n5️⃣ Información general ℹ️\\n0️⃣ Hablar con el bot / Ayuda 🤖';\n\nreturn [{\n  json: {\n    animation: videoUrl,  // Telegram usa \"animation\" para GIFs/MP4\n    caption: caption,\n    parseMode: 'Markdown'\n  }\n}];"},"id":"9888b914-8d19-4d2f-8b68-58d538723791","name":"Generar Saludo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,224],"disabled":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option1":"0"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-256,320],"id":"680f3134-6686-4b8d-aaac-3af24be6d5f4","name":"REINICIAR1","disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.content }}","options":{"systemMessage":"=Eres un asistente súper útil con 2500 IQ que ayuda a las personas a encontrar el apartado que están buscando, tu nombre el MelgarBot, eres amigable y adornar tus mensaje con emojis.\n\nLos apartados son los siguientes, cualquier pregunta sobre item que no esten a continuación, di amablemente que no le puede ayudar con ellos y recomienda que se comuniquen mediante los medios de contacto:\n\n1\t1️⃣ Noticias\t\"Consulta las noticias oficiales del municipio.\n🔗 https://www.melgar-tolima.gov.co/tema/noticias\"\n2\t2️⃣ Convocatorias\t\"Consulta las convocatorias vigentes del municipio.\n🔗 https://www.melgar-tolima.gov.co/tema/convocatorias\"\n3\t3️⃣ Calendario de actividades\t\"Conoce la agenda institucional y eventos.\n🔗 https://www.melgar-tolima.gov.co/tema/calendario-de-actividades-277239\"\n\t\t\n1\t1️⃣ PQRDS\t\"Radica peticiones, quejas, reclamos, sugerencias y denuncias.\n🔗 https://www.melgar-tolima.gov.co/peticiones-quejas-reclamos\"\n2\t2️⃣ Trámites y servicios\t\"Consulta los trámites y servicios disponibles.\n🔗 https://www.melgar-tolima.gov.co/tema/tramites-y-servicios\"\n3\t3️⃣ Mecanismos de contacto\t\"Encuentra los canales oficiales de contacto.\n🔗 https://www.melgar-tolima.gov.co/contactenos/\n\n**Mecanismos de contacto**\n\nDirección: Carrera 25 No 5 - 56 CODIGO POSTAL 734001\n\nTeléfono: 57 3173042861\n\nEmail: correspondencia@melgar-tolima.gov.co\n\nNotificaciones Judiciales: juridica@melgar-tolima.gov.co\n\nHorario de atención:\nLunes a Jueves 7:30 am - 12:30pm y 2:00 pm - 6:00 pm. \nViernes 7:30 am - 12:30 pm y 2:00 pm - 5:00 pm\n\n**Sucursales**\n\nSECRETARIA DE TRANSITO\nDireccion: Calle 7 No 39 y 40 B/Sicomoro\nHorario de atención: Lun-Jue 7:30 -12:30 y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: sectransito@melgar-tolima.gov.co\nTeléfonos: 57 3173042861\n\nSECRETARIA DE TURISMO\nDireccion: Calle 6 No 21 Esquina\nHorario de atención: Lun-Jue 7:30 -12:30y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: secturismo@melgar-tolima.gov.co\nTeléfonos: (57+8) 2459646\n\nSECRETARIA DE EDUCACION\nDireccion: Calle 7 No 39 - 56 Casa de la Cultura\nHorario de atención: Lun-Jue 7:30 -12:30 y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: seceducacion@melgar-tolima.gov.co\nTeléfonos: (57+8) 2452606\n\nSECRETARIA DE LA MUJER\nDireccion: Carrera 18 con Calle 7\nHorario de atención: Lun-Jue 7:30 -12:30 y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: secmujerygenero@melgar-tolima.gov.co\nTeléfonos: 3160189455\"\n4\t4️⃣ Evaluación y experiencia ciudadana\t\"Evalúa tu experiencia con la administración municipal.\n🔗 https://docs.google.com/forms/d/e/1FAIpQLScMUMyKRMl4Z7I8SwTRfMMiLUPOII3Pnqkl89RcO8DKCOTKLg/viewform\"\n5\t5️⃣ Grupos de interés\t\"Información específica para grupos poblacionales.\n🔗 https://www.melgar-tolima.gov.co/tema/informacion-especifica-para-grupos-de-interes\"\n\t\t\n1\t1️⃣ Información institucional\t\"Información institucional y administrativa del municipio.\n🔗 https://www.melgar-tolima.gov.co/\"\n2\t2️⃣ Normatividad y políticas\t\"Políticas y protección de datos.\n🔗 https://www.melgar-tolima.gov.co/politicas/\n\n🔗 Normatividad\nhttps://www.melgar-tolima.gov.co/tema/normatividad\"\n3\t3️⃣ Contratación y gestión\t\"Información relacionada con la gestión y contratación pública.\n🔗 https://www.melgar-tolima.gov.co/tema/contratacion\"\n4\t4️⃣ Informes y control\t\"Informes de gestión y control institucional.\n🔗 https://www.melgar-tolima.gov.co/tema/control\n\nInformes trimestrales sobre acceso a información, quejas y reclamos.\n🔗 https://www.melgar-tolima.gov.co/tema/informe-de-pqr\"\n5\t5️⃣ Datos abiertos y herramientas\t\"Datos abiertos y cajas de herramientas institucionales.\n🔗 https://www.melgar-tolima.gov.co/tema/cajas-de-herramientas\n\nSección de Datos Abiertos.\n🔗 https://www.melgar-tolima.gov.co/control/programa-de-gestion-documental\n\"\n\t\t\n1\t1️⃣ Participa\t\"Espacios de participación ciudadana.\n🔗 https://www.melgar-tolima.gov.co/tema/descripcion-menu-participa\"\n2\t2️⃣ Retos de participación\t\"Retos y ejercicios de participación ciudadana.\n🔗 https://www.melgar-tolima.gov.co/tema/retos-de-participacion\"\n3\t3️⃣ Mecanismos de atención\t\"Encuentra los canales oficiales de atención.\n🔗 https://www.melgar-tolima.gov.co/contactenos/\n\nFIN DE LOS APARTADOS\n_____________________________________________________\n\nCuando creas que la conversación terminó, normalmente cuando ellos se despiden o te dicen gracias, utiliza tu herramienta de tables para marcar como terminada la conversación y avisa que para más ayuda pueden volver a escribir."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-784,640],"id":"e2fde859-0f55-45e4-94eb-bab68262faf9","name":"AI Agent","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"259dbdaf-98b3-4a5e-b3b7-d426f6e4b1d4","leftValue":"={{ $('Obtener Estado Conversación').item.json.option1 }}","rightValue":"100","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-976,304],"id":"acb9aba4-cf53-453c-80ef-5cfd3a083e20","name":"MENU PRINCIPAL","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a2eaee0-b53f-46f5-8d11-3844618c67d0","leftValue":"={{ $('Edit Fields').item.json.content }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-688,-64],"id":"145cd4d1-1f6a-4ada-9a9c-c76153f72e86","name":"VOLVER?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3523b622-043a-41bc-a724-f5fd6a7a3747","leftValue":"={{ $('Edit Fields').item.json.content }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-688,192],"id":"9e1bea01-c508-44b3-bde7-5c6b987461fd","name":"HABLAR CON EL BOT","disabled":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option3":"1"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-256,64],"id":"9c4924b8-a0c4-486d-9f61-36f1fcadd055","name":"Marcar como Chat Libre1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7d14af97-a9ff-4335-8858-26e9480068b3","leftValue":"={{ $('Obtener Estado Conversación').item.json.option3 }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1424,368],"id":"0f0ab04b-9b1b-4570-911a-44c574b3460a","name":"BOT?","disabled":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-800,832],"id":"49556553-ea16-4100-9d7c-48a1fb06c6d6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zgHpiBtA1v8rP0jH","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.conversation_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-704,832],"id":"863b5568-0ce4-4cbc-9686-da9ced54d15f","name":"Simple Memory","disabled":true},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields').item.json.conversation_id }}"}]},"options":{}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-608,832],"id":"5339dc7b-d361-4b03-8926-84a79fc086b1","name":"Delete row(s) in Data table","disabled":true},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $json.conversation_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1072,128],"id":"39b817d7-8260-4060-a8be-16973d229879","name":"Obtener Estado Conversación1","executeOnce":false,"alwaysOutputData":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option3":"1"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1808,192],"id":"dd4efe8d-4317-48ac-bdf6-b5a239103056","name":"Marcar como Chat Libre2"},{"parameters":{"jsCode":"// Validar entrada y gestionar fallback\nconst content = $input.item.json.content || $('Edit Fields1').item.json.content;\nconst failAttempts = $input.item.json.failAttempts || 0;\n\n// Validar si es un solo dígito (0-9)\nconst isValidInput = /^[0-5]$/.test(content);\n\nif (!isValidInput) {\n  // Incrementar contador de intentos fallidos\n  const newFailAttempts = failAttempts + 1;\n  \n  return {\n    json: {\n      conversation_id: $('Edit Fields1').item.json.conversation_id,\n      isValid: false,\n      failAttempts: newFailAttempts,\n      errorMessage: `⚠️ Opción no válida. Por favor, digita solo el número de la opción deseada (0-9).\\n\\n${newFailAttempts >= 2 ? '🤖 Te conectaré con el chat libre para ayudarte mejor.' : `Intentos: ${newFailAttempts}/2`}`\n    }\n  };\n} else {\n  // Entrada válida, resetear contador\n  return {\n    json: {\n      conversation_id: $('Edit Fields1').item.json.conversation_id,\n      isValid: true,\n      failAttempts: 0\n    }\n  };\n}"},"id":"422a47bb-519b-4abb-8da1-40b82a68fa86","name":"Validar Entrada1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"841538aa-db22-4e58-878b-846985349e39","leftValue":"={{ $json.conversation_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1216,128],"id":"db55939b-a2c9-4fa9-b1e2-54be618ebc54","name":"NUEVA CONVERSACIÓN?1"},{"parameters":{"dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"columns":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $('Edit Fields1').item.json.conversation_id }}","failAttempts":0,"option1":"0","option2":"0","option3":"0"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1648,-16],"id":"d2882b82-be7f-47dd-8f98-e501d917cfc2","name":"Crear conversación1"},{"parameters":{"assignments":{"assignments":[{"id":"6cb410fb-0370-4a93-9c4d-f3f9a6a18a77","name":"content","value":"={{ $json.body.conversation.messages[0].content }}","type":"string"},{"id":"a9855df5-6c7b-4c2b-9c29-4813827c80c8","name":"phone_number","value":"={{ $json.body.conversation.meta.sender.phone_number }}","type":"string"},{"id":"8bb2122c-ae98-4d78-aa90-b7f94779ba25","name":"status","value":"={{ $json.body.conversation.status }}","type":"string"},{"id":"69193c26-0b16-448f-ba53-52f087fb85cb","name":"message_type","value":"={{ $json.body.message_type }}","type":"string"},{"id":"dac408e6-aea8-4dcf-93e7-22729f30e6ed","name":"inbox_id","value":"={{ $json.body.conversation.contact_inbox.inbox_id }}","type":"number"},{"id":"28273b3a-0ba8-42b1-aa52-ce483cefa598","name":"contact_id","value":"={{ $json.body.conversation.contact_inbox.contact_id }}","type":"number"},{"id":"bed3eed7-0efe-4898-80ec-f26b175e16ec","name":"conversation_id","value":"={{ $json.body.conversation.id }}","type":"number"},{"id":"b616e7ea-b30b-4898-b7b1-2f87931a12fd","name":"account_id","value":"={{ $json.body.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,192],"id":"50dc2879-2707-49d5-9025-10ded7ebd3d3","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb6ffc5e-0c87-4f57-9525-b15b516749d8","leftValue":"={{ $json.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,192],"id":"4eb99625-d11e-47a2-88f5-096f1dd2f0d2","name":"Verificar Mensaje Entrante1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e25d4683-9fa3-4425-988c-5131d8a43fd5","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1648,128],"id":"b5607096-18fd-449e-974e-feb4cbc9eadc","name":"Valid Entrance1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3523b622-043a-41bc-a724-f5fd6a7a3747","leftValue":"={{ $('Obtener Estado Conversación1').item.json.option1 }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1952,-48],"id":"24938f40-e4b1-469e-b5c8-5829e3027646","name":"OPTION "},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"option1":"={{ $('Edit Fields1').item.json.content }}","failAttempts":0},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2240,-48],"id":"913a2cea-6a4b-4b1b-98ab-25b4626ee2df","name":"Guardar Opcion "},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appQ4rvB7uBz61pCX","mode":"list","cachedResultName":"Menú Alcaldía Melgar","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX"},"table":{"__rl":true,"value":"tbl0ofMRpqiWfxksz","mode":"list","cachedResultName":"Copia de Menú Principal","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX/tbl0ofMRpqiWfxksz"},"filterByFormula":"=AND({parent1}='0',{id}='{{ $('Edit Fields1').item.json.content }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2384,-48],"id":"ab51bfe6-3843-4083-8ef6-846bfd162f51","name":"Search records3","credentials":{"airtableTokenApi":{"id":"MLj8YcYLKZHNrICh","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appQ4rvB7uBz61pCX","mode":"list","cachedResultName":"Menú Alcaldía Melgar","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX"},"table":{"__rl":true,"value":"tbl0ofMRpqiWfxksz","mode":"list","cachedResultName":"Copia de Menú Principal","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX/tbl0ofMRpqiWfxksz"},"filterByFormula":"=AND({parent1}='{{ $('Obtener Estado Conversación1').item.json.option1 }}',{id}='{{ $('Edit Fields1').item.json.content }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2384,-304],"id":"7f24fa96-dcb4-449f-9426-3f9a5d53e624","name":"Search records4","credentials":{"airtableTokenApi":{"id":"MLj8YcYLKZHNrICh","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').first().json.phone_number }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2528,-48],"id":"46da37ec-6af7-4c3b-9c20-7de5d1a3ad01","name":"Mandar Siguiente Mensaje4","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').first().json.phone_number }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2528,-304],"id":"2caad242-3279-4f5e-b60d-ad225c3e5c73","name":"Mandar Siguiente Mensaje5","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option1":"100"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2240,-304],"id":"fef78ec9-0550-48f7-a636-4f64914cf473","name":"REINICIAR2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appQ4rvB7uBz61pCX","mode":"list","cachedResultName":"Menú Alcaldía Melgar","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX"},"table":{"__rl":true,"value":"tbl0ofMRpqiWfxksz","mode":"list","cachedResultName":"Copia de Menú Principal","cachedResultUrl":"https://airtable.com/appQ4rvB7uBz61pCX/tbl0ofMRpqiWfxksz"},"filterByFormula":"=AND({parent1}='0',{id}='100')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,80],"id":"d6bed32c-1216-4b69-a8a3-33771a1b8f77","name":"Search records5","credentials":{"airtableTokenApi":{"id":"MLj8YcYLKZHNrICh","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').first().json.phone_number }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2384,80],"id":"82033b92-11e4-4c6a-b080-e02089d9e9ad","name":"Mandar Siguiente Mensaje6","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').first().json.phone_number }}","messageText":"Si tienes otra duda, escribe cualquier número del 0-9.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2672,-304],"id":"b2a31e5a-5110-4213-9be6-ce7f75fbfa5f","name":"Mandar Siguiente Mensaje7","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"jsCode":"// ========================================\n// GENERADOR DE SALUDOS CON VIDEO\n// ========================================\n\n// URL directa del video (pega aquí la URL de Catbox)\nconst videoUrl = 'https://files.catbox.moe/fl3c3h.mp4'; // ← CAMBIA ESTO\n\n\n// Textos de saludo\nconst caption = 'Hola, melgarenses 👋\\nTu voz en línea con \"Pacho\" 👇\\n\\n*Para poder ayudarte mejor, digita la opción que corresponda a tu consulta:*\\n\\n1️⃣ Noticias y actividades 📰\\n2️⃣ Atención y servicios al ciudadano 🤝\\n3️⃣ Transparencia y acceso a la información 📊\\n4️⃣ Participación ciudadana 🗳\\n5️⃣ Información general ℹ️\\n0️⃣ Hablar con el bot / Ayuda 🤖';\n\nreturn [{\n  json: {\n    animation: videoUrl,  // Telegram usa \"animation\" para GIFs/MP4\n    caption: caption,\n    parseMode: 'Markdown'\n  }\n}];"},"id":"221dcbac-d26a-4e2e-8588-daeed3ffdefb","name":"Generar Saludo1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-16]},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').item.json.phone_number }}","messageText":"=Hola, melgarenses 👋 Tu voz en línea con \"Pacho\"\n\nDigita una opción o si prefieres escribe directamente tu consulta:\n\n1️⃣ Noticias y actividades 📰\n2️⃣ Atención y servicios al ciudadano 🤝\n3️⃣ Transparencia y acceso a la información 📊\n4️⃣ Participación ciudadana 🗳️\n5️⃣ Información general ℹ️\n0️⃣ Hablar con el bot / Ayuda 🤖","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-16],"id":"e4b065fa-37e3-4c9e-a242-2804d6279e12","name":"Enviar texto1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option1":"0"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2528,80],"id":"83786fb9-64f0-4ea2-951d-c91b62d6565d","name":"REINICIAR3"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields1').item.json.content }}","options":{"systemMessage":"=Eres un asistente súper útil con 2500 IQ que ayuda a las personas a encontrar el apartado que están buscando, tu nombre el MelgarBot, eres amigable y adornar tus mensaje con emojis.\n\nLos apartados son los siguientes, cualquier pregunta sobre item que no esten a continuación, di amablemente que no le puede ayudar con ellos y recomienda que se comuniquen mediante los medios de contacto:\n\n1\t1️⃣ Noticias\t\"Consulta las noticias oficiales del municipio.\n🔗 https://www.melgar-tolima.gov.co/tema/noticias\"\n2\t2️⃣ Convocatorias\t\"Consulta las convocatorias vigentes del municipio.\n🔗 https://www.melgar-tolima.gov.co/tema/convocatorias\"\n3\t3️⃣ Calendario de actividades\t\"Conoce la agenda institucional y eventos.\n🔗 https://www.melgar-tolima.gov.co/tema/calendario-de-actividades-277239\"\n\t\t\n1\t1️⃣ PQRDS\t\"Radica peticiones, quejas, reclamos, sugerencias y denuncias.\n🔗 https://www.melgar-tolima.gov.co/peticiones-quejas-reclamos\"\n2\t2️⃣ Trámites y servicios\t\"Consulta los trámites y servicios disponibles.\n🔗 https://www.melgar-tolima.gov.co/tema/tramites-y-servicios\"\n3\t3️⃣ Mecanismos de contacto\t\"Encuentra los canales oficiales de contacto.\n🔗 https://www.melgar-tolima.gov.co/contactenos/\n\n**Mecanismos de contacto**\n\nDirección: Carrera 25 No 5 - 56 CODIGO POSTAL 734001\n\nTeléfono: 57 3173042861\n\nEmail: correspondencia@melgar-tolima.gov.co\n\nNotificaciones Judiciales: juridica@melgar-tolima.gov.co\n\nHorario de atención:\nLunes a Jueves 7:30 am - 12:30pm y 2:00 pm - 6:00 pm. \nViernes 7:30 am - 12:30 pm y 2:00 pm - 5:00 pm\n\n**Sucursales**\n\nSECRETARIA DE TRANSITO\nDireccion: Calle 7 No 39 y 40 B/Sicomoro\nHorario de atención: Lun-Jue 7:30 -12:30 y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: sectransito@melgar-tolima.gov.co\nTeléfonos: 57 3173042861\n\nSECRETARIA DE TURISMO\nDireccion: Calle 6 No 21 Esquina\nHorario de atención: Lun-Jue 7:30 -12:30y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: secturismo@melgar-tolima.gov.co\nTeléfonos: (57+8) 2459646\n\nSECRETARIA DE EDUCACION\nDireccion: Calle 7 No 39 - 56 Casa de la Cultura\nHorario de atención: Lun-Jue 7:30 -12:30 y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: seceducacion@melgar-tolima.gov.co\nTeléfonos: (57+8) 2452606\n\nSECRETARIA DE LA MUJER\nDireccion: Carrera 18 con Calle 7\nHorario de atención: Lun-Jue 7:30 -12:30 y 2:00-6:00 ,Vie 7:30-12:30 y 2:00-5:00\nEmail: secmujerygenero@melgar-tolima.gov.co\nTeléfonos: 3160189455\"\n4\t4️⃣ Evaluación y experiencia ciudadana\t\"Evalúa tu experiencia con la administración municipal.\n🔗 https://docs.google.com/forms/d/e/1FAIpQLScMUMyKRMl4Z7I8SwTRfMMiLUPOII3Pnqkl89RcO8DKCOTKLg/viewform\"\n5\t5️⃣ Grupos de interés\t\"Información específica para grupos poblacionales.\n🔗 https://www.melgar-tolima.gov.co/tema/informacion-especifica-para-grupos-de-interes\"\n\t\t\n1\t1️⃣ Información institucional\t\"Información institucional y administrativa del municipio.\n🔗 https://www.melgar-tolima.gov.co/\"\n2\t2️⃣ Normatividad y políticas\t\"Políticas y protección de datos.\n🔗 https://www.melgar-tolima.gov.co/politicas/\n\n🔗 Normatividad\nhttps://www.melgar-tolima.gov.co/tema/normatividad\"\n3\t3️⃣ Contratación y gestión\t\"Información relacionada con la gestión y contratación pública.\n🔗 https://www.melgar-tolima.gov.co/tema/contratacion\"\n4\t4️⃣ Informes y control\t\"Informes de gestión y control institucional.\n🔗 https://www.melgar-tolima.gov.co/tema/control\n\nInformes trimestrales sobre acceso a información, quejas y reclamos.\n🔗 https://www.melgar-tolima.gov.co/tema/informe-de-pqr\"\n5\t5️⃣ Datos abiertos y herramientas\t\"Datos abiertos y cajas de herramientas institucionales.\n🔗 https://www.melgar-tolima.gov.co/tema/cajas-de-herramientas\n\nSección de Datos Abiertos.\n🔗 https://www.melgar-tolima.gov.co/control/programa-de-gestion-documental\n\"\n\t\t\n1\t1️⃣ Participa\t\"Espacios de participación ciudadana.\n🔗 https://www.melgar-tolima.gov.co/tema/descripcion-menu-participa\"\n2\t2️⃣ Retos de participación\t\"Retos y ejercicios de participación ciudadana.\n🔗 https://www.melgar-tolima.gov.co/tema/retos-de-participacion\"\n3\t3️⃣ Mecanismos de atención\t\"Encuentra los canales oficiales de atención.\n🔗 https://www.melgar-tolima.gov.co/contactenos/\n\nFIN DE LOS APARTADOS\n_____________________________________________________\n\nCuando creas que la conversación terminó, normalmente cuando ellos se despiden o te dicen gracias, utiliza tu herramienta de tables para marcar como terminada la conversación y avisa que para más ayuda pueden volver a escribir."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2000,400],"id":"2ee9b51e-bcae-4b54-97d5-404ff883e205","name":"AI Agent1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"259dbdaf-98b3-4a5e-b3b7-d426f6e4b1d4","leftValue":"={{ $('Obtener Estado Conversación1').item.json.option1 }}","rightValue":"100","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1808,64],"id":"2f12c8b4-8b04-4b07-b30a-c4210ab351b9","name":"MENU PRINCIPAL1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a2eaee0-b53f-46f5-8d11-3844618c67d0","leftValue":"={{ $('Edit Fields1').item.json.content }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2096,-304],"id":"c88f92a7-ddcc-4814-aa2c-555dfd9004b3","name":"VOLVER?1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3523b622-043a-41bc-a724-f5fd6a7a3747","leftValue":"={{ $('Edit Fields1').item.json.content }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2096,-48],"id":"5db56448-6a33-40f3-9aaa-49323b6cb98d","name":"HABLAR CON EL BOT1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"failAttempts":0,"option3":"1"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option1","displayName":"option1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option2","displayName":"option2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"option3","displayName":"option3","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"failAttempts","displayName":"failAttempts","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2528,-176],"id":"e3696b0b-8ebc-4f10-bf8f-3ceedb328ec0","name":"Marcar como Chat Libre3"},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').first().json.phone_number }}","messageText":"=🤖 *Hola, soy melgarBot* 🤖\n\n¿En qué puedo ayudarte? Puedes escribir tu consulta libremente y haré mi mejor esfuerzo por ayudarte.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2384,-176],"id":"5bd251d3-2965-4c18-b511-c4db8e251414","name":"Activar Chat Libre","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7d14af97-a9ff-4335-8858-26e9480068b3","leftValue":"={{ $('Obtener Estado Conversación1').item.json.option3 }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1360,128],"id":"27a619bc-a708-4bcc-bd2b-ffaa58ab1bc5","name":"BOT?1"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1984,592],"id":"deb9d2bc-1380-44d3-8907-cb0792ae44aa","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"zgHpiBtA1v8rP0jH","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields1').item.json.conversation_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2080,592],"id":"68df73b0-c6a3-42a0-b190-6e747cb6c300","name":"Simple Memory1"},{"parameters":{"resource":"messages-api","instanceName":"AlcaldiaMelgar","remoteJid":"={{ $('Edit Fields1').first().json.phone_number }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2384,496],"id":"4498c108-7a30-4248-9a1c-18a734c851f5","name":"Enviar Error Fallback1","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"evolutionApi":{"id":"fzIveqwQSAmAnQDD","name":"Evolution account"}}},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"ljq6D0DePSujrPIf","mode":"list","cachedResultName":"temporalMessageAlcaldiaMelgar","cachedResultUrl":"/projects/fuOfcdL9tdGqnZbo/datatables/ljq6D0DePSujrPIf"},"filters":{"conditions":[{"keyName":"conversation_id","keyValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]},"options":{}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[2176,592],"id":"48d8ad36-53e6-4369-a695-04d74f9091bd","name":"Delete row(s) in Data table1"},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"=Hola, melgarenses 👋 Tu voz en línea con \"Pacho\"\n\nDigita una opción o si prefieres escribe directamente tu consulta:\n\n1️⃣ Noticias y actividades 📰\n2️⃣ Atención y servicios al ciudadano 🤝\n3️⃣ Transparencia y acceso a la información 📊\n4️⃣ Participación ciudadana 🗳️\n5️⃣ Información general ℹ️\n0️⃣ Hablar con el bot / Ayuda 🤖","private":false,"content_type":"input_email","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-1280,224],"id":"0eb5d7ce-c00d-468e-8502-df02e6c03133","name":"Menú Principal","credentials":{"chatwootApi":{"id":"cPjx1Y0JNWEqNbk9","name":"ChatWoot account 2"}},"disabled":true},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"={{ $json.output }}","private":false,"content_type":"=text","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-416,736],"id":"02cb6c12-4c40-45aa-a839-c67f4734c0f8","name":"Error","credentials":{"chatwootApi":{"id":"L7lFU5wT66PQEmH8","name":"ChatWoot account"}},"disabled":true},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"={{ $json.message }}","private":false,"content_type":"=text","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-400,320],"id":"708add04-b602-4948-9e87-5efb05ccf5f9","name":"Siguiente Mensaje","credentials":{"chatwootApi":{"id":"L7lFU5wT66PQEmH8","name":"ChatWoot account"}},"disabled":true},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"={{ $json.message }}","private":false,"content_type":"=text","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-256,192],"id":"641475de-3fda-41ba-9048-119d4423985f","name":"Siguiente Mensaje1","credentials":{"chatwootApi":{"id":"L7lFU5wT66PQEmH8","name":"ChatWoot account"}},"disabled":true},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"={{ $json.message }}","private":false,"content_type":"=text","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-256,-64],"id":"093c17e4-2143-4937-a2f0-b461fb6c7396","name":"Siguiente Mensaje2","credentials":{"chatwootApi":{"id":"L7lFU5wT66PQEmH8","name":"ChatWoot account"}},"disabled":true},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"Si tienes otra duda, escribe cualquier número del 0-9.","private":false,"content_type":"=text","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-112,-64],"id":"69553d62-258e-46bd-b620-3814de1fccc5","name":"Siguiente Mensaje3","credentials":{"chatwootApi":{"id":"L7lFU5wT66PQEmH8","name":"ChatWoot account"}},"disabled":true},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Edit Fields').item.json.account_id }}","conversation_id":"={{ $('Edit Fields').item.json.conversation_id }}","content":"=🤖 *Hola, soy melgarBot* 🤖\n\n¿En qué puedo ayudarte? Puedes escribir tu consulta libremente y haré mi mejor esfuerzo por ayudarte.","private":false,"content_type":"=text","content_attributes":"{\n  \"link_preview\": false\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-400,64],"id":"62702dd8-5779-4920-8140-ea57e83a241a","name":"Siguiente Mensaje4","credentials":{"chatwootApi":{"id":"L7lFU5wT66PQEmH8","name":"ChatWoot account"}},"disabled":true}],"connections":{"Webhook Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Obtener Estado Conversación":{"main":[[{"node":"NUEVA CONVERSACIÓN?","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"Valid Entrance","type":"main","index":0}]]},"NUEVA CONVERSACIÓN?":{"main":[[{"node":"Generar Saludo","type":"main","index":0}],[{"node":"BOT?","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Verificar Mensaje Entrante","type":"main","index":0}]]},"Verificar Mensaje Entrante":{"main":[[{"node":"Obtener Estado Conversación","type":"main","index":0}]]},"Marcar como Chat Libre":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Valid Entrance":{"main":[[{"node":"MENU PRINCIPAL","type":"main","index":0}],[{"node":"Marcar como Chat Libre","type":"main","index":0}]]},"OPTION 1":{"main":[[{"node":"VOLVER?","type":"main","index":0}],[{"node":"HABLAR CON EL BOT","type":"main","index":0}]]},"Guardar Opcion 1":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Siguiente Mensaje1","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"Siguiente Mensaje2","type":"main","index":0}]]},"REINICIAR":{"main":[[{"node":"Search records1","type":"main","index":0}]]},"Search records2":{"main":[[{"node":"Siguiente Mensaje","type":"main","index":0}]]},"Generar Saludo":{"main":[[{"node":"Menú Principal","type":"main","index":0}]]},"Crear conversación":{"main":[[]]},"MENU PRINCIPAL":{"main":[[{"node":"OPTION 1","type":"main","index":0}],[{"node":"Search records2","type":"main","index":0}]]},"VOLVER?":{"main":[[{"node":"REINICIAR","type":"main","index":0}],[{"node":"Search records2","type":"main","index":0}]]},"HABLAR CON EL BOT":{"main":[[{"node":"Siguiente Mensaje4","type":"main","index":0}],[{"node":"Guardar Opcion 1","type":"main","index":0}]]},"Marcar como Chat Libre1":{"main":[[]]},"BOT?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Validar Entrada","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Error","type":"main","index":0}]]},"Delete row(s) in Data table":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Obtener Estado Conversación1":{"main":[[{"node":"NUEVA CONVERSACIÓN?1","type":"main","index":0}]]},"Marcar como Chat Libre2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Validar Entrada1":{"main":[[{"node":"Valid Entrance1","type":"main","index":0}]]},"NUEVA CONVERSACIÓN?1":{"main":[[{"node":"Generar Saludo1","type":"main","index":0}],[{"node":"BOT?1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Verificar Mensaje Entrante1","type":"main","index":0}]]},"Verificar Mensaje Entrante1":{"main":[[{"node":"Obtener Estado Conversación1","type":"main","index":0}]]},"Valid Entrance1":{"main":[[{"node":"MENU PRINCIPAL1","type":"main","index":0}],[{"node":"Marcar como Chat Libre2","type":"main","index":0}]]},"OPTION ":{"main":[[{"node":"VOLVER?1","type":"main","index":0}],[{"node":"HABLAR CON EL BOT1","type":"main","index":0}]]},"Guardar Opcion ":{"main":[[{"node":"Search records3","type":"main","index":0}]]},"Search records3":{"main":[[{"node":"Mandar Siguiente Mensaje4","type":"main","index":0}]]},"Search records4":{"main":[[{"node":"Mandar Siguiente Mensaje5","type":"main","index":0}]]},"Mandar Siguiente Mensaje5":{"main":[[{"node":"Mandar Siguiente Mensaje7","type":"main","index":0}]]},"REINICIAR2":{"main":[[{"node":"Search records4","type":"main","index":0}]]},"Search records5":{"main":[[{"node":"Mandar Siguiente Mensaje6","type":"main","index":0}]]},"Mandar Siguiente Mensaje6":{"main":[[{"node":"REINICIAR3","type":"main","index":0}]]},"Generar Saludo1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Enviar Error Fallback1","type":"main","index":0}]]},"MENU PRINCIPAL1":{"main":[[{"node":"OPTION ","type":"main","index":0}],[{"node":"Search records5","type":"main","index":0}]]},"VOLVER?1":{"main":[[{"node":"REINICIAR2","type":"main","index":0}],[{"node":"Search records5","type":"main","index":0}]]},"HABLAR CON EL BOT1":{"main":[[{"node":"Activar Chat Libre","type":"main","index":0}],[{"node":"Guardar Opcion ","type":"main","index":0}]]},"Activar Chat Libre":{"main":[[{"node":"Marcar como Chat Libre3","type":"main","index":0}]]},"BOT?1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Validar Entrada1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Delete row(s) in Data table1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Menú Principal":{"main":[[{"node":"Crear conversación","type":"main","index":0}]]},"Siguiente Mensaje2":{"main":[[{"node":"Siguiente Mensaje3","type":"main","index":0}]]},"Siguiente Mensaje4":{"main":[[{"node":"Marcar como Chat Libre1","type":"main","index":0}]]},"Siguiente Mensaje":{"main":[[{"node":"REINICIAR1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Crear conversación1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"462d4516-0d6d-4a2b-aeaf-d5af9116fb6e","activeVersionId":null,"versionCounter":194,"triggerCount":1,"shared":[{"updatedAt":"2026-02-11T04:52:47.915Z","createdAt":"2026-02-11T04:52:47.915Z","role":"workflow:owner","workflowId":"G9rmyV29GjELJuiI","projectId":"Er6SzA1yBnky4fY4","project":{"updatedAt":"2026-02-11T05:03:34.295Z","createdAt":"2026-02-11T04:46:37.540Z","id":"Er6SzA1yBnky4fY4","name":"Yilmar Ramirez <proyectos@cosasinteligentes.co>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-02-11T04:46:37.540Z","createdAt":"2026-02-11T04:46:37.540Z","userId":"6fbbf256-abab-475e-b95b-4c5aabf38295","projectId":"Er6SzA1yBnky4fY4","user":{"updatedAt":"2026-04-14T04:17:55.574Z","createdAt":"2026-02-11T04:46:35.553Z","id":"6fbbf256-abab-475e-b95b-4c5aabf38295","email":"proyectos@cosasinteligentes.co","firstName":"Yilmar","lastName":"Ramirez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-11T05:04:05.183Z","personalization_survey_n8n_version":"1.123.6","automationGoalDevops":["ci-cd","data-syncing"],"companySize":"<20","companyType":"saas","role":"engineering","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"LKfY4993mo87P8cD","userActivatedAt":1770788028200,"npsSurvey":{"responded":true,"lastShownAt":1772496966831}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-14","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-21T08:19:38.303Z","createdAt":"2025-12-21T08:19:38.303Z","id":"FuAJtb20ZlUBdeyK","name":"chatbot-melgar"}],"activeVersion":null}